<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h3><%="apana college".toUpperCase()%></h3>
    <h3><%=["hello","bonjour","namasete"][0]%></h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos rem doloribus dolorum ad perspiciatis similique odio, eius doloremque libero aliquid vero quis cum nisi praesentium officiis aspernatur, minima laudantium tenetur?
        Sint minima, perferendis mollitia temporibus omnis excepturi officiis reprehenderit autem doloremque sequi commodi fugiat magni porro exercitationem dolorum voluptate necessitatibus facere eveniet asperiores modi nemo. Sapiente incidunt expedita cupiditate nisi?
        Atque, laboriosam nemo facere iure quis animi? Quidem blanditiis magnam omnis magni ab ad quis alias repellendus dicta corporis excepturi deserunt, natus a rerum maxime tenetur sequi id facere recusandae.
        Vero rerum exercitationem ducimus quia! Officiis sunt quidem voluptas explicabo quod numquam. Blanditiis earum nemo, ipsam tempore impedit deserunt quos odio! Dolores ipsam velit ab veniam accusantium? Voluptatibus, maiores ipsa.
        Inventore laudantium quisquam libero sapiente modi alias rem ratione corrupti consectetur explicabo sed dolor a debitis nulla enim deserunt eveniet magnam veniam, culpa laboriosam quod necessitatibus eligendi autem tempore. Quo.
    </p>
    <button>click me!</button>
</body>
</html>